body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.47;
    letter-spacing: 0.03em;
    font-family: monospace;
}

h2 {
    color: rgb(182, 69, 69);
}

#back {
    width: 90px;
    height: 25px;
}

#back:hover {
    cursor: pointer;
}