body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.47;
  letter-spacing: 0.03em;
  font-family: monospace;
}

h2 {
  color: #14586e;
}

input {
  margin-bottom: 1em;
}

input[type="submit"] {
  width: 90px;
  height: 25px;
}

fieldset {
  display: flex;
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
}

.radio {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 0;
  width: 50%;
}

.radio label,
input[type="radio"] {
  cursor: pointer;
}

#signin {
  display: block;
  margin: 60px auto;
}

#signin:hover {
  cursor: pointer;
}