body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.47;
  letter-spacing: 0.03em;
  font-family: monospace;
}

h2 {
  color: #14586e;
}

input {
  margin-bottom: 1em;
}

input[type="submit"] {
  width: 90px;
  height: 25px;
}

#signin {
  display: block;
  margin: auto;
}

#signin:hover {
  cursor: pointer;
}
